*{
font-family: 'Balsamiq Sans', cursive;
}
.navbar-brand h1 { /* Our Menu*/
  margin: 0px;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}
.navbar-brand a:hover {
	text-decoration: none;
}
h2, h3{
	  font-weight: bold;
}
h2{
	margin-bottom: 20px;
}
h3{
	margin-top: 10px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

#chicken,#beef,#sushi{
	background-color: gray;
	border:8px solid white;
}
#main-content p{
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}
#nav-list {
  margin-top: 2px;
}
#nav-list a {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 1.5em;
}

#nav-list a:hover{
  background: #E7E7E7;
}
#nav-list li {
  border:1px solid black;
}
footer p{
	margin: 20px;
	font-size: 12px;
	opacity: 0.4;
}